[Unit]
Description=Lodomo Arcade Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/lodomo/Lodomo-Arcade-Service/game/game.x86_64
WorkingDirectory=/home/lodomo/Lodomo-Arcade-Service/game/
Restart=always
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U
# Ensure audio socket is accessible (PipeWire/PulseAudio)
Environment=PULSE_SERVER=unix:${XDG_RUNTIME_DIR}/pulse/native
Environment=PIPEWIRE_SOCKET=${XDG_RUNTIME_DIR}/pipewire-0
TimeoutStopSec=5

[Install]
WantedBy=default.target
